<form class="user-form" action="/moncompte/gerer/motdepasse" method="POST" encType="multipart/form-data">
    <div class="flex w-full">
        <div class="block w-full"><!-- current password -->
            <% if (validationMsg && validationMsg.length > 0) { %>
                <% for (let msg of validationMsg) { %>
                    <div class="validation-msg">
                      <%= msg.pwd %>
                    </div>
                <% } %>
            <% } %>
        
            <label for="currentPwd">Mot de passe actuel :
                <input id="currentPwd" name="currentPassword" type="password" />
            </label>
            
            <!-- new password -->
            <label for="newPwd">Nouveau mot de passe :
                <input id="newPwd" name="newPassword" type="password" />
            </label>
            
            <!-- confirm new password -->
            <label for="confirmPwd">Confirmer le nouveau mot de passe :
                <input id="confirmPwd" name="confirmPassword" type="password" />
            </label>
            
            <% if (errorsArray && errorsArray.length > 0) { %>
              <% errorsArray.forEach(function(error) { %>
                <div class="error-msg">
                  <%= error.message || error.isNotSame || error.lengths || error.msg %>
                </div>
              <% }); %>
            <% } %>
            
        </div>
    </div>
    <div class="modify-data-btn__wrapper flex-center">
        <button id="modifyPwdButton" type="submit" class="modify-data__btn primary-btn">Modifier mon mot de passe</button>
    </div>
    
</form>