<%- include('./includes/_header.ejs') -%>
    <main class="container contact-form-page">
        <div>
            <nav class="breadcrumb">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <div class="contact-section-wrapper flex-center flex-col">
                <h1>Contact</h1>
                <section class="form-wrapper">
                    <h2>Une question ? Une demande particulière ?</h2>
                    <p>Nous serons ravis de vous répondre. Si votre demande concerne un dépôt de manuscript, nous ne proposons pour l’instant pas cette option via le formulaire.</p>
                    <p>Vous pouvez néanmoins nous adresser un message via le formulaire ci-dessous, ou par mail, en précisant l’objet et toutes informations que vous jugerez nécessaires au sujet de votre demande.</p>
                    <div id="contactFormRoot"></div>
                </section>
            </div>
        </div>
    </main>
<%- include('./includes/_footerReCAPTCHA.ejs') -%>

<!-- 
for test purposes :
<div
  class="g-recaptcha"
  data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
>
</div>


true site key : 6LdoTvQlAAAAAGTiQRxAGNAwxLGu55CgbKjkZWHc
-->
