<%- include('./includes/_header.ejs') %>
    <main class='container error-box-wrapper'>
        <div class="error-box">
            <p><%= errorMsg %></p>
        </div>
    </main>
<%- include('./includes/_footer.ejs') %>